.chat-wrapper {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-h1, .main-h2 {
    justify-content: center;
    text-align: center;
    color: white;
    user-select: none;
}

.main-h2 {
    margin-top: -25px;
}

.chat {
    background-color: #333;
    border: 1px solid #555;
    border-radius: 20px;
    padding: 10px;
}

.chat-input {
    width: 100%;
    resize: none;
    background-color: #333;
    border-radius: 10px;
    color: white;
    outline: none; 
    border: none;
    max-height: 300px;
}

.chat-input::-webkit-scrollbar {
    display: none;
}

.chat-input::placeholder {
    color: white;
}

.options-btn, .send-btn {
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #333;
    color: white;
    font-size: 20px;
    transition: 0.3s ease;
}

.send-btn {
    float: right;
}

.options-btn:hover, .send-btn:hover {
    background-color: #555;
}

.file-preview-item {
    display: inline-block;
    margin-left: 10px;
    color: white;
    background-color: #555;
    padding: 4px 6px;
    margin-top: 5px;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}

@media (max-width: 767px) {
    .chat-wrapper  {
      width: 90%;
    }
}