.enter-wrapper {
    position: absolute;
    top: 50%;
    display: grid;
    left: 50%;
    padding: 20px;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 20px;
    width: 20%;
    transform: translate(-50%, -50%);
}

.enter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    padding: 15px ;
    font-size: 16px;
    margin-top: 15px;
    background-color: #555;
    outline: none;
    color: white;
    border: none;
    border-radius: 20px;
    width: 70%;
}

.enter {
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 18px;
}

.reg-div {
    display: flex;
    color: white;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
}

.reg-link {
    cursor: pointer;
    margin-left: 5px;
    border-bottom: 2px solid white;
}

.reg-text {
    margin-top: 0;
}

.enter-form-btn {
    margin-top: 15px;
    padding: 15px;
    border-radius: 20px;
    width: 77%;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.input::placeholder {
    color: white
}

.error-message {
    color: red;
    text-align: center;
    margin-bottom: 15px;
    font-size: 14px;
    padding: 10px;
}

@media (max-width: 767px) {
    .enter-wrapper  {
      width: 40%;
    }
}