.files-space-wrapper {
    position: absolute;
    color: white;
    margin-top: 50px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #333;
    height: 78%;
    bottom: 20px;
    user-select: none;
    margin-left: 10px;
    max-width: 350px;
}

.files-section {
    background-color: #333;
    padding: 5px 20px;
    border-radius: 20px;
    border: 2px solid #555;
    overflow: auto;
}

.file-item {
    display: block;
    width: fit-content;
    margin-top: 5px;
    padding: 3px 8px;
    background-color: #555;
    border-radius: 10px;
    cursor: pointer;
    margin-left: -40px;
    font-size: 18px;
}