.heads-wrapper {
    display: flex;
    align-items: center;
    height: 80px;
}

.heads-logo-wrapper {
    display: flex;
    align-items: center;
    gap: 1px;
}

.logo-link {
    text-decoration: none;
    color: white;
}

.logo-link:hover {
    text-decoration: none;
    color: white;
}

.logo {
    width: 80px;
    height: 80px;
    user-select: none;
}

.logo-name {
    color: white;
    font-size: 30px;
    user-select: none;
    text-shadow: 
    0 0 20px rgba(255,255,255,0.5),
    0 0 20px rgba(255,255,255,0.5),
    0 0 20px rgba(255,255,255,0.8);
}

.enter-btn {
    position: absolute;
    right: 20px;
    width: 100px;
    padding: 12px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    background-color: black;
    border: 2px solid white;
    transition: 0.4s ease;
    font-size: 16px;
}

.enter-btn:hover {
    background-color: rgb(26, 25, 25);
}