.notification {
    padding: 5px;
    position: absolute;
    border-radius: 20px;
    margin-top: 30px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #555;
    background-color: #333;
    user-select: none;
    color: white;
}