.options-wrapper {
    display: flex;
    color: white;
}

.ul-wrapper {
    border: 2px solid #555;
    border-radius: 20px;
    background-color: #333;
    padding: 15px;
    margin-bottom: -120px;
    margin-top: 30px;

}

.li {
    display: flex;
    padding: 2px;
    justify-content: left;
    text-align: left;
}

.li:hover {
    display: flex;
    color: black;
    border-radius: 5px;
}

.upload-file {
    margin-top: 0;
    color: white;
    bottom: -5px;
    padding: 2px;
}

.upload-file:hover {
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    background-color: white;
}

.li2:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.li2 {
    margin-top: -10px;
}

.to-right {
    margin-left: 10px;
    margin-top: 0;
    padding: 0;
    color: white;
    cursor: pointer;
}

.add-file {
    margin-bottom: -100px;
    padding: 5px;
    margin-top: 30px;
    background-color: #333;
    border-radius: 20px;
    border: 2px solid #555;
    margin-left: 10px;
}

.add-file-p {
    justify-content: left;
    text-align: left;
    padding: 2px;
    margin: 3px;
}

.add-file-p:hover {
    padding: 2px;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
    user-select: none;
}