.options-wrapper {
    display: flex;
    color: white;
}

.ul-wrapper {
    border: 2px solid #555;
    border-radius: 20px;
    background-color: #333;
    padding: 15px;
    margin-bottom: -100px;

}

.li {
    display: flex;
    padding: 2px;
    justify-content: left;
    text-align: left;
    cursor: pointer;
}

.li:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}