.space {
    display: flex;
    width: 100%;
    gap: 20px;
    box-sizing: border-box;
}

.enter-text {
    position: absolute;
    color: black;
    background-color: red;
    padding: 4px;
    right: 20px;
    border-radius: 10px;
    width: fit-content;
    user-select: none;
    cursor: pointer;
    margin-top: 0;
    
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}